"CanonicalName","CN","DisplayName","DistinguishedName","EmailAddress","Name","SamAccountname","UserPrincipalName"
"lab.lukenichols.net/User Accounts/TestUsers/Fawn","Fawn","Fawn","CN=Fawn,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Fawn","fawn","fawn@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Orion","Orion","Orion","CN=Orion,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net","wmiwkylfyfggluhapd@xfavaj.com","Orion","orion","orion@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Athena","Athena","Athena","CN=Athena,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Athena","athena","athena@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Artemis","Artemis","Artemis","CN=Artemis,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Artemis","artemis","artemis@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Tammy","Tammy","Tammy","CN=Tammy,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Tammy","tammy","tammy@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Mr Ed","Mr Ed","Mr Ed","CN=Mr Ed,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Mr Ed","ed","ed@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Snack","Snack","Snack","CN=Snack,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Snack","snack","snack@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Snick","Snick","Snick","CN=Snick,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Snick","snick","snick@lab.lukenichols.net"
"lab.lukenichols.net/User Accounts/TestUsers/Snap","Snap","Snap","CN=Snap,OU=TestUsers,OU=User Accounts,DC=lab,DC=lukenichols,DC=net",,"Snap","snap","snap@lab.lukenichols.net"
