"User"|"Group"
"orion"|"Black Cats"
"athena"|"Black Cats"
"artemis"|"Black Cats"
"snack"|"Orange Cats"
"snick"|"Orange Cats"
"snap"|"Orange Cats"
"fawn"|"Tabby Cats"
"tammy"|"Tabby Cats"
"ed"|"Tabby Cats"
